<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flylo.flylopay">

    <application>
        <activity
            android:name="com.flylo.threebeads.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx9a49b6b3018b7bd0"/>
            </intent-filter>

        </activity>
        <receiver
            android:name="com.flylo.threebeads.wxapi.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

    </application>
</manifest>